## BLM442 Keşif aktivitesi-3: SQLite üzerinde veri analizi

#### İsim/Soyisim: Muhammed Emre Kara
#### Öğrenci Numarası: 160202094
#### E-mail: mailemrek@gmail.com
#### Kullanılan dataset adı: FIFA 19 complete player dataset
#### Dataset url: https://www.kaggle.com/karangadiya/fifa19

#### Problemlerin Çalışması için Aşağıdaki kodu 1 defa çalıştırmanız gerekmektedir.

In [32]:
import sqlite3
import pandas as pd
class sqlite:
    def __init__(self, dbName='buyuk_veri_kesif_3'):
        self.dbPath = dbName+'.db'
        try:
            connection = sqlite3.connect(self.dbPath)
            print('Successfully Connected to Database')
            connection.close()
        except Exception as err:
            print('err:', err)
    def importCSV(self,file='data.csv',table_name='players'):
        df = pd.read_csv(file)
        connection = sqlite3.connect(self.dbPath)
        df.to_sql(table_name, connection, if_exists='replace', index=False)
        connection.close()
    def query(self,sql, database='players'):
        connection = sqlite3.connect(self.dbPath)
        cursor = connection.execute(sql)
        for row in cursor:
            print(row)
        connection.close()

obj = kesif3_script.sqlite()
obj.importCSV('data.csv')

Successfully Connected to Database

#### Problem 1: Sol ayaklı LF(Sol Açık) VS Sağ Ayaklı LF Value(Oyuncu Değeri) Ortalamalarının Karşılaştırması

In [16]:
p1 = obj.query('SELECT AVG(Number_Value),Preferred_Foot FROM players WHERE Position=\'LF\' Group By Preferred_Foot')
print(p1[0][1], ' {a:.0f}'.format(a=p1[0][0]))
print(p1[1][1], '{a:.0f}'.format(a=p1[1][0]))

Left  32808333
Right 13239583

#### Problem 2: 2.	Work Rate(Çalışma Oranı) – Wage(Maaş) İlişkisi

In [17]:
p2 = obj.query('SELECT AVG(Number_Wage),Work_Rate FROM players Group By Work_Rate ORDER BY AVG(Number_Wage) DESC')
print('Maaş',' Ofansif - Defansif Çalışkanlık')
for i in p2:
    print('{a:.0f}'.format(a=i[0]), i[1])

Maaş  Ofansif - Defansif Çalışkanlık
21330 High/ High
13156 High/ Medium
12418 Medium/ High
11920 High/ Low
9538 Medium/ Low
8421 Low/ High
7074 Medium/ Medium
6715 Low/ Medium
5059 Low/ Low

#### Problem 3: Body Type- Real Face kombinasyonları

In [18]:
p3 = obj.query('SELECT Real_Face,Body_Type FROM players Group By Real_Face,Body_Type')
for i in p3:
    for j in i:
        print(j, end=' ')
    print()

No Lean
No Normal
No Stocky
Yes Akinfenwa
Yes C. Ronaldo
Yes Courtois
Yes Lean
Yes Messi
Yes Neymar
Yes Normal
Yes PLAYER_BODY_TYPE_25
Yes Shaqiri
Yes Stocky

#### Problem 4: En iyi 5 Türk Penaltıcı

In [31]:
p4 = obj.query('SELECT Penalties,Name FROM players WHERE Nationality=\'Turkey\' ORDER BY Penalties DESC LIMIT 5')
for i in p4:
    for j in i:
        print(j, end=' ')
    print()

[(85, 'E. Belözoğlu'), (84, 'S. İnan'), (82, 'C. Tosun'), (79, 'B. Yılmaz'), (78, 'O. Özyakup')]
85 E. Belözoğlu
84 S. İnan
82 C. Tosun
79 B. Yılmaz
78 O. Özyakup

#### Problem 5: Sol ayaklı LF(Sol Açık) VS Sağ Ayaklı LF Value(Oyuncu Değeri) Ortalamalarının Karşılaştırması

In [20]:
p5 = obj.query('SELECT AVG(Number_Value),Preferred_Foot FROM players WHERE Position=\'RF\' Group By Preferred_Foot')
print(p5[0][1], ' {a:.0f}'.format(a=p5[0][0]))
print(p5[1][1], '{a:.0f}'.format(a=p5[1][0]))

Left  21011667
Right 7492500

#### Problem 6: Oyuncu Serbest Kalma ve Oyuncu Değeri ikilisinin en yüksek olduğu 5 oyuncu

In [21]:
p6 = obj.query('SELECT Name,Release_Clause,Number_Value from players Where Number_Release_Clause>0 Order By Number_Release_Clause DESC,Number_Value DESC LIMIT 5')
for i in p6:
    for j in i:
        print(j, end=' ')
    print()

Neymar Jr €228.1M 118500000
L. Messi €226.5M 110500000
K. De Bruyne €196.4M 102000000
E. Hazard €172.1M 93000000
K. Mbappé €166.1M 81000000

#### Problem 7: 7.	Kendi Body Type’ına Sahip Özel Oyuncular

In [22]:
p7 = obj.query('SELECT Name,Count(*) from players Group By Body_Type Having COUNT(*) < 2')
for i in p7:
    for j in i:
        print(j, end=' ')
    print()

A. Akinfenwa 1
Cristiano Ronaldo 1
T. Courtois 1
L. Messi 1
Neymar Jr 1
M. Salah 1
X. Shaqiri 1

#### Problem 8: En fazla Oyuncuya sahip 10 ülke

In [23]:
p8 = obj.query('SELECT Nationality,Count(*) from players Group By Nationality Order By Count(*) DESC LIMIT 10')
for i in p8:
    for j in i:
        print(j, end=' ')
    print()

England 1657
Germany 1195
Spain 1071
Argentina 936
France 911
Brazil 825
Italy 699
Colombia 616
Japan 478
Netherlands 452

#### Problem 9: Aynı Ad,Pozisyon,Vatandaşlık, ve Yaşa sahip çon Benzer Oyuncular

In [24]:
p9 = obj.query('SELECT Name,Position,Nationality,Age from players Group By Name,Position,Nationality,Age HAVING COUNT(*)>1')
for i in p9:
    for j in i:
        print(j, end=' ')
    print()

A. Miranchuk CAM Russia 22
J. Rodríguez GK Mexico 25
J. Sambenito ST Paraguay 26
Jairo LM Spain 24
Juan Carlos GK Spain 30
K. Müller GK Germany 27
M. Dembélé ST France 21
M. Olsson LB Sweden 30
N. Baumann GK Switzerland 22
S. Gustafson RCM Sweden 23
Álvaro ST Spain 27

#### Problem 10: En Bitirici Sol Ayağa sahip 5  Oyuncu

In [25]:
p10 = obj.query('SELECT Name,Finishing from players WHERE Preferred_Foot=\'Left\' ORDER BY Finishing DESC LIMIT 5')
for i in p10:
    for j in i:
        print(j, end=' ')
    print()

L. Messi 95
A. Griezmann 90
M. Salah 90
Iago Aspas 88
A. Milik 88

#### Problem 11: En hızlı reflekslere sahip 3 kaleci

In [26]:
p11 = obj.query('SELECT Name,GKReflexes from players ORDER BY GKReflexes DESC LIMIT 3')
for i in p11:
    for j in i:
        print(j, end=' ')
    print()

De Gea 94
H. Lloris 92
M. ter Stegen 90

#### Problem 12: En iyi 3 santrofor

In [27]:
p12 = obj.query('SELECT Name,Overall from players WHERE position=\'ST\' ORDER BY Overall DESC LIMIT 3')
for i in p12:
    for j in i:
        print(j, end=' ')
    print()

Cristiano Ronaldo 94
R. Lewandowski 90
H. Kane 89

#### Problem 13: 16-19 yaş arasındaki Potential-Overall değeri 0’dan yüksek(Yani Gelişmeye açık) Serbest Kalma ücreti – Pazar Değeri en düşük 72 Overall Üstü 5 Altın Genç Santrofor

In [28]:
p13 = obj.query('SELECT Name,Overall,Position  from players WHERE Overall<Potential AND Number_Release_Clause>0 AND Overall>72 AND Position=\'GK\' ORDER BY (Number_Release_Clause-Number_Value) ASC LIMIT 5')
for i in p13:
    for j in i:
        print(j, end=' ')
    print()

M. Langerak 73 GK
A. Hansen 73 GK
S. Grytebust 74 GK
Cho Hyun Woo 74 GK
K. Lamprou 73 GK

#### Problem 14: 16-19 yaş arasındaki Potential-Overall değeri 0’dan yüksek(Yani Gelişmeye açık) Serbest Kalma ücreti – Pazar Değeri en düşük 72 Overall Üstü 5 Altın Genç Kaleci

In [29]:
p14 = obj.query('SELECT Name,Overall,Position  from players WHERE Overall<Potential AND Number_Release_Clause>0 AND Overall>72 AND Position=\'ST\' ORDER BY (Number_Release_Clause-Number_Value) ASC LIMIT 5')
for i in p14:
    for j in i:
        print(j, end=' ')
    print()

Serginho 73 ST
R. Emond 73 ST
G. Zardes 73 ST
K. Rezaei 73 ST
L. Fernández 74 ST

#### Problem 15: Her iki Ayağını iyi kullanan 25 Yaş ve 80 Overall üstü En ucuz 5 Ofansif Ortasaha

In [30]:
p15 = obj.query('SELECT Name,Overall,Number_Value  from players WHERE Overall>80 AND Weak_Foot=5 AND Age>25 AND Position=\'CAM\' ORDER BY Number_Value ASC LIMIT 5')
for i in p15:
    for j in i:
        print(j, end=' ')
    print()

Laure Santeiro 81 17000000
G. Sigurðsson 82 22500000
C. Eriksen 88 73500000